In [35]:
from datascience import *
import math
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
Video_Data = Table.read_table('Business_Dataset.csv')
Video_Data.show(5)

In [3]:
Video_Data.column("Release Date")

array(['01st Jan 88', '28th Sep 98', '29th Oct 03', ..., '06th Sep 18',
       '31st Oct 17', '14th Sep 18'],
      dtype='<U32')

In [4]:
release_date = Video_Data.column("Release Date")
year = []
for i in range(0, len(release_date)):
    date = release_date[i].split()[-1]
    year.append(date)

In [5]:
Video_Data_drop = Video_Data.drop("Release Date")
Video_Data_Release = Video_Data_drop.with_column("Release_Date", year)
Total_Sales = Video_Data_Release.column("Total Sales")
remove_nan_TotalSales = []
for i in range(0, len(Total_Sales)):
    if Total_Sales[i] == "nan":
        remove_nan_TotalSales.append('0')
    else:
        remove_nan_TotalSales.append(Total_Sales[i])
Video_Data_Release_drop_TotalSales = Video_Data_Release.drop("Total Sales")
Video_Data_Release_TotalSales = Video_Data_Release_drop_TotalSales.with_column("Total_Sales", remove_nan_TotalSales)
Video_Data_Release_TotalSales

Game             | Console  | Publisher                              | Developer                             | VGChartz Score | Critic Score | User Score | Total Shipped | NA Sales | PAL Sales | Japan Sales | Other Sales | Last Update | Release_Date | Total_Sales
Tetris           | Series_b | The Tetris Company                     | Alexey Pajitnov                       | nan            | nan          | nan        | 496.40m       | nan      | nan       | nan         | nan         | 27th Feb 20 | 88           | 0
Pokemon          | Series_b | Nintendo                               | Game Freak                            | nan            | nan          | nan        | 480.66m       | nan      | nan       | nan         | nan         | 03rd Feb 20 | 98           | 0
Call of Duty     | Series_b | Activision                             | Infinity Ward                         | nan            | nan          | nan        | 425.00m       | nan      | nan       | nan         | nan         | 03rd Feb 20 | 03           | 0
Grand Theft Auto | Series_b | Rockstar Games                         | Rockstar North                        | nan            | nan          | nan        | 405.00m       | nan      | nan       | nan         | nan         | 03rd Feb 20 | 98           | 0
Super Mario      | Series_b | Nintendo                               | Nintendo                              | nan            | nan          | nan        | 402.36m       | nan      | nan       | nan         | nan         | 20th Feb 20 | 83           | 0
FIFA             | Series_b | EA Sports                              | Extended Play Productions (1991-1997) | nan            | nan          | nan        | 325.00m       | nan      | nan       | nan         | nan         | 03rd Feb 20 | 93           | 0
Minecraft        | Series_b | Mojang                                 | Mojang                                | nan            | nan          | nan        | 238.00m       | nan      | nan       | nan         | nan         | 08th Feb 20 | 11           | 0
Minecraft        | All_b    | Mojang                                 | Mojang AB                             | nan            | nan          | nan        | 238.00m       | nan      | nan       | nan         | nan         | 08th Oct 20 | 11           | 0
Lego             | Series_b | Warner Bros. Interactive Entertainment | TT Fusion                             | nan            | nan          | nan        | 203.22m       | nan      | nan       | nan         | nan         | 01st Mar 20 | 97           | 0
Assassin's Creed | Series_b | Ubisoft                                | Ubisoft                               | nan            | nan          | nan        | 200.00m       | nan      | nan       | nan         | nan         | 11th Feb 20 | 07           | 0
... (62737 rows omitted)

In [6]:
#Video_Data_Release.where("Release_Date", are.below("10")).show(5)

In [7]:
j = Video_Data_Release_TotalSales.column("Total_Sales")
index = []
for i in range(0, len(j)):
    if j[i] != "0":
        index.append(i)
Video_Data_Release_TotalSales_nan = Video_Data_Release_TotalSales.take(index)
k = Video_Data_Release_TotalSales_nan.column("Release_Date")
index = []
for i in range(0, len(k)):
    if k[i] != "nan":
        index.append(i)
Video_Data_Release_TotalSales_NAN = Video_Data_Release_TotalSales_nan.take(index)
#always have to run 1st

In [8]:
t = Video_Data_Release_TotalSales_NAN.column("Total_Sales")
m = []
for i in t:
    num = ""
    for n in range(0, len(i)-1):
        num += i[n]
    m.append(num)
Video_Data_Release_TotalSales_NAN = Video_Data_Release_TotalSales_NAN.drop("Total_Sales").with_column("Total_Sales_M", m)

In [9]:
not_num = Video_Data_Release_TotalSales_NAN.column("Total_Sales_M")
num = []

for i in not_num:
    num.append(float(i))
Video_Data_Release_TotalSales_NAN = Video_Data_Release_TotalSales_NAN.drop("Total_Sales_M").with_column("Num_Total_Sales_M", num)

tens = Video_Data_Release_TotalSales_NAN.where("Release_Date", are.between("00", "10"))
nine = Video_Data_Release_TotalSales_NAN.where("Release_Date", are.between_or_equal_to("90","99"))

In [23]:
nine.select('Publisher', 'Num_Total_Sales_M').group('Publisher', np.average)

Publisher             | Num_Total_Sales_M average
3DO                   | 0.532857
989 Sports            | 0.38
989 Studios           | 0.889375
A1 Games              | 0.02
ASC Games             | 0.393333
ASCII Entertainment   | 0.377273
ASK                   | 0.03
Acclaim Entertainment | 0.411282
Accolade              | 0.53
Activision            | 0.654
... (171 rows omitted)

In [14]:
tens.select('Publisher', 'Num_Total_Sales_M').group('Publisher', np.average)

Publisher       | Num_Total_Sales_M average
10TACLE Studios | 0.12
1C Company      | 0.00666667
2K Games        | 0.33566
2K Play         | 0.458696
2K Sports       | 0.279245
3 O'Clock       | 0.03
3DO             | 0.158158
49Games         | 0.03
505 Games       | 0.135682
5pb             | 0.0122581
... (378 rows omitted)

In [41]:
c = nine.column("Critic Score")
index = []
for i in range(0, len(c)):
    if c[i] > 0.0:
        index.append(i)
nine_C = nine.take(index)
nine_C.show(5)

In [42]:
nine_C.select('Publisher', 'Critic Score').group('Publisher', np.average)

Publisher             | Critic Score average
3DO                   | 4.2
989 Studios           | 5.38
ASC Games             | 6.4
ASCII Entertainment   | 6.56667
Acclaim Entertainment | 5.73846
Accolade              | 5.8
Activision            | 6.5
Agetec                | 5.46667
Atari                 | 7.9
Atlus                 | 7.45
... (51 rows omitted)

In [44]:
c = tens.column("Critic Score")
index = []
for i in range(0, len(c)):
    if c[i] > 0.0:
        index.append(i)
ten_C = tens.take(index)
ten_C.show(5)

In [45]:
ten_C.select('Publisher', 'Critic Score').group('Publisher', np.average)

Publisher             | Critic Score average
2K Games              | 7.82353
2K Sports             | 7.35556
3DO                   | 6.05
505 Games             | 5.68
AIA                   | 6.4
AQ Interactive        | 3.9
Acclaim Entertainment | 7.17097
Activision            | 7.16473
Activision Value      | 3.3
Agetec                | 6.83
... (131 rows omitted)