In [4]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [14]:
Video_Data = Table.read_table('Business_Dataset.csv')
Video_Data.show(5)

In [10]:
Video_Data.column("Release Date")

array(['01st Jan 88', '28th Sep 98', '29th Oct 03', ..., '06th Sep 18',
       '31st Oct 17', '14th Sep 18'],
      dtype='<U32')

In [24]:
release_date = Video_Data.column("Release Date")
year = []
for i in range(0, len(release_date)):
    date = release_date[i].split()[-1]
    year.append(date)

In [25]:
Video_Data_drop = Video_Data.drop("Release Date")
Video_Data_Release = Video_Data_drop.with_column("Release_Date", year)
Video_Data_Release.show(5)

In [26]:
Video_Data_Release.where("Release_Date", are.below("10")).show(5)